h1 {
    padding: 20px;
}

input {
    margin-left : 15px;
}

#btnCarre {
    display: block;
    margin: auto;
    margin-top: 20px;
}

#btnVerif {
    display: block;
    margin: auto;
    margin-top: 20px;
}

#carreMagique {
    margin: auto;
    margin-top: 20px;
    line-height: 2;
}

td {
    border : 1px solid black;
    text-align: center;
    width: 40px;
}
span {
    margin: auto;
}